// Variable overrides first
$primary: #b6a897;
$enable-shadows: true;
$prefix: "mo-";
$body-bg: #f6f5f3;
$body-color: #f6f5f3;

// Then import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";


// Then add custom stuff here

